@import url('https://fonts.googleapis.com/css?family=Cabin:600|Damion|Fjalla+One');

$main-grey: #343434;
$secondary-grey: #949494;

@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) { @content; }
  } @else if $size == tablet-down {
    @media (max-width: 991px) { @content; }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) { @content; }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Fjalla One', sans-serif !important;
  color: $main-grey !important;
}

body{
  font-family: 'Lato', sans-serif !important;
  margin: 0px !important;
  color: $secondary-grey !important;
  font-size: 20px !important;
  line-height: 30px !important;
  background-color: #ffd460 !important;
  overflow-y: hidden;
}

.wow{
  animation-delay: 0.4s !important;
  -webkit-animation-delay: 0.4s !important;
}

.row{
  margin-left: auto !important;
  margin-right: auto !important;
}

::selection{
  background: #f996ce !important;
}

@include for-size(tablet-down) {
  .wow {
   visibility: visible !important;
   -webkit-animation: none !important;
   -moz-animation: none !important;
   -o-animation: none !important;
   -ms-animation: none !important;
   animation: none !important;
  }
}

/*--------------------- NAVIGATION BAR STARTS --*/
.section-1{
  padding: 50px 20px;
  max-width: 1100px;
  text-align: center;
  h1{
    font-size: 80px;
    text-transform: uppercase !important;
    color: white !important;
  }
  h2{
    font-family: 'Damion', sans-serif !important;
    font-size: 46px;
    color: #EDB93E !important;
  }
  p{
    color: #DCA729 !important;
    font-size: 16px;
    line-height: 22px !important;
  }
  span{
    padding: 0 10px;
    display: inline-block;
  }
  .cake{
    width: 300px;
    position: fixed;
    display: inline-block;
    bottom: 100px;
    margin-left: -200px;
  }
  button{
    outline: none !important;
    background-color: white !important;
    border: none !important;
    color: #5a5959 !important;
    padding: 6px 40px !important;
  }
  .circle{
    height: 640px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    background-color: #ffc94b;
    border-radius: 100%;
  }
  .blink{
    position: fixed;
    left: 0;
    width: 100%;
    padding: 30px 140px;
  }
  @include for-size(phone-only) {
    padding: 10px 20px;
    h1{
      font-size: 50px;
      margin: 0;
    }
    h2{
      font-size: 26px;
    }
    p{
      font-size: 12px;
    }
    .blink{
      padding: 80px 30px;
    }
  }
  @include for-size(tablet-down) {
    .circle{
      display: none;
    }
  }
  @media (max-width: 1024px){
    .cake{
      width: 180px;
      bottom: 142px;
      margin-left: -150px;
    }
  }
  @media (max-width: 599px){
    .cake{
      bottom: 50px;
    }
  }
  @include for-size(big-desktop-up){
  padding-top: 230px;
    .cake{
      width: 800px;
      margin-left: -440px;
    }
  }
}
/*--------------------- NAVIGATION BAR ENDS --*/


/*----------------------------- MODAL STARTS --*/

.modal-body {
  img{
    max-width: 100%;
  }
}
.modal-dialog{
  margin-top: 24vh !important;
}
.modal-content{
  box-shadow: none !important;
  border-radius: inherit !important;
  border: none !important;
  .modal-header {
    border-bottom: none !important;
  }
  .modal-body{
    padding: 20px 45px;
    .form-control:focus {
      border-color: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    input{
      box-shadow: none !important;
      -webkit-box-shadow: none !important;
      &:focus{
        border-color: #FF8DA6 !important;
      }
    }
    label{
      font-size: 14px;
    }
    .radio input[type=radio]{
      margin-top: 10px;
    }
    .button-row{
      text-align: center;
    }
    .button-pink{
      background-color: #FF8dA6 !important;
      border: none !important;
      color: white !important;
      width: 60%;
    }
  }
}
@media (max-width: 599px) {
  .modal-dialog{
    margin-top: 20vh !important;
  }
  .modal-body{
    padding: 20px !important;
  }
  .button-pink{
    width: 100% !important;
    display: inline-block;
  }
}

/*----------------------------- MODAL ENDS --*/


/*----------------------------- FOOTER STARTS --*/
footer{
  bottom: 0;
  position: absolute;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  border-top: 22px #FFB5C5 solid;
  background-color: #FF8DA6;
  .heart{
    color: #ffbabd;
  }
  p{
    font-size: 12px;
    color: white;
  }
  @include for-size(phone-only) {
    padding: 2px 0;
    border-top-width: 6px;
  }
}
/*----------------------------- FOOTER ENDS --*/
